@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu:400,400i,700&display=swap);
body,dd,dl,h1,h2,h3,h4,h5,h6,ol,ul{
    margin:0;
    padding:0
}
html{
    font-size:16px;
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body *{
    box-sizing:border-box
}
article,aside,footer,header,nav,section{
    display:block
}
h1{
    font-size:2em
}
figcaption,figure,main{
    display:block
}
figure,p{
    margin:0
}
hr{
    box-sizing:content-box;
    height:0;
    overflow:visible
}
a{
    background-color:transparent;
    -webkit-text-decoration-skip:objects
}
a:active,a:hover{
    outline-width:0
}
abbr[title]{
    border-bottom:none;
    text-decoration:underline;
    text-decoration:underline dotted
}
abbr[title],dfn[title]{
    cursor:help
}
b,strong{
    font-weight:inherit;
    font-weight:bolder
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
dfn{
    font-style:italic
}
mark{
    background-color:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub{
    bottom:-.25em
}
sup{
    top:-.5em
}
blockquote{
    margin:0
}
audio,video{
    display:inline-block;
    vertical-align:baseline
}
audio:not([controls]){
    display:none;
    height:0
}
img{
    border-style:none;
    vertical-align:bottom
}
svg:not(:root){
    overflow:hidden
}
input{
    line-height:normal
}
button,input,optgroup,select,textarea{
    font-family:sans-serif;
    font-size:100%;
    line-height:1.15;
    margin:0
}
button,input{
    overflow:visible
}
button,select{
    text-transform:none
}
button{
    background-color:transparent
}
optgroup{
    font-weight:700
}
[type=reset],[type=submit],button,html [type=button]{
    -webkit-appearance:button;
    cursor:pointer
}
[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{
    border-style:none;
    padding:0
}
[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{
    outline:1px dotted ButtonText
}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{
    height:auto
}
fieldset{
    margin:0 2px;
    padding:.35em .75em .625em
}
legend{
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal;
    border:0
}
progress{
    display:inline-block;
    vertical-align:baseline
}
textarea{
    overflow:auto
}
[type=checkbox],[type=radio]{
    box-sizing:border-box;
    padding:0
}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{
    height:auto
}
[type=search]{
    -webkit-appearance:textfield;
    outline-offset:-2px
}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{
    -webkit-appearance:none
}
::-webkit-file-upload-button{
    -webkit-appearance:button;
    font:inherit
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
details,menu{
    display:block
}
summary{
    display:list-item
}
canvas{
    display:inline-block
}
[hidden],template{
    display:none
}
/*@font-face{
    font-family:akrobat-regular;
    src:local("Akrobat Regular"),local("akrobat-regular"),url(../fonts/akrobat-regular.woff2) format("woff2"),url(../fonts/akrobat-regular.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-thin;
    src:local("Akrobat Thin"),local("akrobat-thin"),url(../fonts/akrobat-thin.woff2) format("woff2"),url(../fonts/akrobat-thin.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-extrabold;
    src:local("Akrobat ExtraBold"),local("akrobat-extrabold"),url(../fonts/akrobat-extrabold.woff2) format("woff2"),url(../fonts/akrobat-extrabold.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-extralight;
    src:local("Akrobat ExtraLight"),local("akrobat-extralight"),url(../fonts/akrobat-extralight.woff2) format("woff2"),url(../fonts/akrobat-extralight.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-light;
    src:local("Akrobat Light"),local("akrobat-light"),url(../fonts/akrobat-light.woff2) format("woff2"),url(../fonts/akrobat-light.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-bold;
    src:local("Akrobat Bold"),local("akrobat-bold"),url(../fonts/akrobat-bold.woff2) format("woff2"),url(../fonts/akrobat-bold.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-black;
    src:local("Akrobat Black"),local("akrobat-black"),url(../fonts/akrobat-black.woff2) format("woff2"),url(../fonts/akrobat-black.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:akrobat-semibold;
    src:local("Akrobat SemiBold"),local("akrobat-semibold"),url(../fonts/akrobat-semibold.woff2) format("woff2"),url(../fonts/akrobat-semibold.woff) format("woff");
    font-weight:400;
    font-style:normal
}
@font-face{
    font-family:dec-rss-icons;
    src:url(../fonts/dec-rss-icons.eot?#iefix) format("embedded-opentype"),url(../fonts/dec-rss-icons.ttf?) format("truetype"),url(../fonts/dec-rss-icons.woff?) format("woff"),url(../fonts/dec-rss-icons.svg?#dec-rss-icons) format("svg");
    font-weight:400;
    font-style:normal
}*/
.i-:before,.i-after-:after,[class*=" i-"]:before,[class*=i-after-]:after,[class^=i-]:before,[class^=i-after-]:after{
    font-family:dec-rss-icons!important;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
.i-envelope:before{
    content:"";
}
.i-people:before{
    content:"";
}
.i-star:before{
    content:"";
}
.i-check:before{
    content:"";
}
.i-sheets:before{
    content:"";
}
.i-place:before{
    content:"";
}
.i-search:before{
    content:"";
}
.i-alert-filled:before{
    content:"";
}
.i-happy:before{
    content:"";
}
.i-calendar:before{
    content:"";
}
.i-alert:before{
    content:"";
}
.i-cross-outline:before{
    content:"";
}
.i-cross:before{
    content:"";
}
.i-triangle:before{
    content:"";
}
.i-menu:before{
    content:"";
}
.i-wifi:before{
    content:"";
}
.i-hotel:before{
    content:"";
}
.i-arrow-down:before{
    content:"";
}
.dc-l-canvas{
    width:95%;
    max-width:980px;
    max-width:61.25rem;
    margin:0 auto;
}
.dc-l-canvas-inner{
    padding-top:4.25rem;
}
.dc-l-grid{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
@media only screen and (min-width:768px){
    .dc-l-grid{
        -webkit-box-direction:normal;
        -webkit-box-orient:horizontal;
        -webkit-flex-direction:row;
        -moz-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row
    }
}
.dc-l-grid--margin{
    padding-bottom:5rem
}
@media only screen and (min-width:768px){
    .dc-l-grid--margin{
        margin-top:5rem
    }
}
.dc-l-grid-divider{
    position:relative
}
@media only screen and (min-width:768px){
    .dc-l-grid-divider{
        padding-right:2.5rem;
        margin-right:2.5rem
    }
    .dc-l-grid-divider:after{
        content:"";
        background:#d8d8d8;
        height:calc(100% - 65px);
        width:1px;
        position:absolute;
        right:0;
        bottom:0
    }
}
@media only screen and (min-width:1180px){
    .dc-l-grid-divider{
        padding-right:5rem;
        margin-right:5rem
    }
}
.dc-l-grid_center{
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center
}
.dc-l-grid_between{
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between
}
.dc-l-grid_wrap{
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
@media only screen and (min-width:768px){
    .dc-l-grid__cell{
        -webkit-box-flex:1;
        -webkit-flex:1 1 auto;
        -moz-box-flex:1;
        -moz-flex:1 1 auto;
        -ms-flex:1 1 auto;
        flex:1 1 auto
    }
}
.dc-l-grid__size_1{
    width:100%
}
@media only screen and (min-width:768px){
    .dc-l-grid__size_1-of-2{
        width:50%;
        padding-right:1rem
    }
    .dc-l-grid__size_1-of-2:last-of-type{
        padding-right:0
    }
}
@media only screen and (min-width:768px){
    .dc-l-grid__padding--right{
        padding-right:4.875rem
    }
}
@media only screen and (min-width:768px){
    .dc-l-grid__padding--left{
        padding-left:4.875rem
    }
}
.dc-l-grid__size_1-of-3{
    width:33.33333%
}
.dc-l-grid__size_1-of-4{
    width:25%
}
.dc-l-grid__size_1-of-5{
    width:20%
}
.dc-l-grid__size_1-of-8{
    width:12.5%
}
.dc-l-grid__size_2-of-3{
    width:66.66667%
}
.dc-l-grid__size_3-of-8{
    width:37.5%
}
.dc-l-grid__size_5-of-8{
    margin-bottom:2.5rem
}
@media only screen and (min-width:768px){
    .dc-l-grid__size_5-of-8{
        width:62.5%
    }
}
.dc-l-grid__size_6-of-8{
    width:75%
}
.dc-l-grid__size_7-of-8{
    width:87.5%
}
.dc-l-grid__size_1-of-10{
    width:10%
}
.dc-l-grid__size_3-of-10{
    width:30%
}
.dc-l-grid__size_4-of-10{
    width:40%
}
@media only screen and (min-width:768px){
    .dc-l-grid__size_6-of-10{
        width:60%;
        padding-right:1rem
    }
}
.dc-l-grid__size_7-of-10{
    width:70%
}
@media only screen and (min-width:768px){
    .dc-l-grid__size_8-of-10{
        width:80%;
        padding-right:1rem
    }
}
@media only screen and (min-width:768px){
    .dc-l-grid__size_9-of-10{
        width:90%
    }
}
.dc-section{
    position:relative
}
.dc-flip-v{
    display:inline-block;
    transform:rotate(180deg)
}
.dc-margin-b-40{
    margin-bottom:2.5rem
}
.dc-margin-t-40{
    margin-top:2.5rem
}
.dc-margin-b-80{
    margin-bottom:5rem
}
.dc-margin-t-80{
    margin-top:5rem
}
.dc-block{
    padding:.75rem .625rem;
    margin:.5rem 0
}
.dc-block--grey{
    background:#fafafa
}
h1,h2,h3,h4,h5,h6{
    font-weight:400
}
.dc-page-title{
    margin:1.5rem 0
}
.dc-headline,.dc-headline--bold{
    font-size:40px;
    font-size:2.5rem;
    line-height:40px;
    line-height:2.5rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}
.dc-headline--bold{
    font-family:akrobat-bold,Arial,sans-serif
}
.dc-headline__icon,.dc-subheadline__icon{
    margin-right:.5rem;
    font-size:30px;
    font-size:1.875rem;
    line-height:44px;
    line-height:2.75rem
}
.dc-subheadline__icon{
    margin-right:1rem
}
.dc-headline__lead{
    color:#575757;
    font-family:akrobat-light,Arial,sans-serif;
    font-size:20px;
    font-size:1.25rem;
    line-height:24px;
    line-height:1.5rem;
    margin-top:.5rem
}
.dc-headline__lead--spaced{
    padding-left:2.5rem
}
@media only screen and (min-width:768px){
    .dc-headline__lead--short{
        max-width:50%
    }
}
.dc-subheadline{
    display:block;
    color:#575757;
    font-family:akrobat-semiBold,Arial,sans-serif;
    margin-bottom:1rem
}
.dc-o-subheadline{
    display:block;
    color:#575757;
    font-weight:"akrobat-regular",Arial,sans-serif
}
.dc-o-subheadline-icon{
    margin-bottom:.5rem
}
.dc-o-subheadline-icon .subheadline__icon{
    margin-right:.5rem;
    display:inline-block
}
.dc-o-title,.rich-text h3{
    font-size:25px;
    font-size:1.5625rem;
    line-height:31px;
    line-height:1.9375rem;
    margin-bottom:.5rem
}
.dc-theme,html{
    font-size:100%
}
.dc-text,body{
    line-height:1.5;
    font-size:16px;
    font-size:1rem;
    font-family:akrobat-regular;
    color:#575757
}
.rich-text p,p{
    line-height:1.75
}
.dc-copy,.rich-text p{
    margin:2rem 0
}
.dc-uppercase{
    text-transform:uppercase
}
.dc-italic,em,i{
    font-style:italic;
    font-family:akrobat-regular
}
.dc-bold,b,strong{
    font-family:akrobat-bold,Arial,sans-serif
}
.dc-lead{
    font-size:24px;
    font-size:1.5rem
}
.dc-text--black{
    color:#000
}
.dc-text-purple{
    color:#702f6d
}
.dc-text-red{
    color:#de424a
}
.dc-text-neutro{
    color:#fff
}
.dc-text-red-mobile{
    color:#de424a
}
@media only screen and (min-width:768px){
    .dc-text-red-mobile{
        color:#575757
    }
}
.i-rounded-filled{
    border-radius:100%;
    color:#fff;
    display:inline-block;
    height:30px;
    line-height:1.8;
    text-align:center;
    width:30px;
    font-size:18px;
    font-size:1.125rem
}
.i-bg-purple{
    background:#702f6d
}
.dc-list-grid{
    width:100%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap
}
.dc-list-grid__definition,.dc-list-grid__title{
    padding:.5rem 0
}
.dc-list-grid__title{
    -webkit-box-flex:1;
    -webkit-flex:1 40%;
    -moz-box-flex:1;
    -moz-flex:1 40%;
    -ms-flex:1 40%;
    flex:1 40%;
    font-family:akrobat-bold,Arial,sans-serif;
    font-size:14px;
    font-size:.875rem
}
.dc-list-grid__title-icon{
    padding-right:.5rem
}
.dc-list-grid__definition{
    -webkit-box-flex:2;
    -webkit-flex:2 60%;
    -moz-box-flex:2;
    -moz-flex:2 60%;
    -ms-flex:2 60%;
    flex:2 60%;
    font-family:akrobat-regular,Arial,sans-serif;
    font-size:18px;
    font-size:1.125rem;
    line-height:21px;
    line-height:1.3125rem
}
.dc-list-gral{
    width:100%;
    list-style:disc;
    padding:1.875rem
}
.dc-list-gral__item{
    padding-bottom:.5rem
}
.dc-list{
    width:100%;
    list-style:none;
    -webkit-align-self:center;
    -moz-align-self:center;
    -ms-flex-item-align:center;
    align-self:center;
    padding:.5rem 0
}
.dc-list__item{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex
}
.dc-list__subitem,.dc-list__title{
    -webkit-box-flex:1;
    -webkit-flex:1 50%;
    -moz-box-flex:1;
    -moz-flex:1 50%;
    -ms-flex:1 50%;
    flex:1 50%;
    padding:2px 0
}
.dc-list__subitem .dc-text:first-child{
    padding-right:6px
}
.dc-list__title{
    font-family:akrobat-bold,Arial,sans-serif
}
.dc-list__link{
    color:#4a90e2;
    display:block;
    font-size:14px;
    font-size:.875rem;
    text-decoration:underline
}
@media only screen and (min-width:480px){
    .dc-list{
        -ms-flex-item-align:center
    }
    .dc-list,.dc-list__subitem{
        -webkit-align-self:center;
        -moz-align-self:center;
        align-self:center
    }
    .dc-list__subitem{
        -webkit-flex:1 60%;
        -moz-flex:1 60%;
        -ms-flex:1 60%;
        flex:1 60%;
        -ms-flex-item-align:center;
        padding-left:10px
    }
    .dc-list__subitem,.dc-list__title{
        -webkit-box-flex:1;
        -moz-box-flex:1
    }
    .dc-list__title{
        -webkit-flex:1 40%;
        -moz-flex:1 40%;
        -ms-flex:1 40%;
        flex:1 40%
    }
}
:focus{
    outline:0
}
button{
    line-height:inherit;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    outline:none;
    outline-width:0;
    cursor:pointer;
    -webkit-appearance:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
button:focus{
    outline-width:0
}
button:disabled{
    cursor:default
}
a{
    text-decoration:none;
    outline-width:0;
    cursor:pointer
}
.dc-btn{
    display:inline-block;
    min-width:250px;
    min-width:15.625rem;
    line-height:1;
    padding:1rem 1.5rem;
    font-size:17px;
    font-size:1.1rem;
    border:1px solid #469ec3;
    background:#469ec3;
    border-radius:8px;
    color:#fff;
    font-family:akrobat-regular;
    text-align:center
}
.dc-btn_outline{
    background-color:#fff;
    color:#469ec3;
}
.dc-btn-thin{
    display:inline-block;
    width:auto;
    line-height:1;
    padding:.875rem 1.5rem;
    font-size:16px;
    font-size:1rem;
    border:1px solid #469ec3;
    border-radius:8px
}
.dc-btn_secondary{
    color:#fff;
    background-color:#702f6d;
    border-color:#702f6d
}
.dc-btn_neutro{
    color:#fff;
    background-color:#969696;
    border-color:#969696;
}
.dc-btn_warning{
    color:#fff;
    border-color:#c13b40;
    background-color:#c13b40;
}
.dc-link,.rich-text a{
    font-family:akrobat-regular;
    transition:all .2s;
    padding:0;
    color:#4a90e2;
    text-decoration:underline
}
.dc-link:active,.dc-link:focus,.dc-link:hover,.rich-text a:active,.rich-text a:focus,.rich-text a:hover{
    color:#059f77
}
.dc-hamburger{
    padding:8px;
    display:inline-block;
    cursor:pointer;
    transition-property:opacity,filter;
    transition-duration:.15s;
    transition-timing-function:linear;
    font:inherit;
    color:inherit;
    text-transform:none;
    background-color:transparent;
    border:0;
    margin:0;
    overflow:visible
}
.dc-hamburger.is-active:hover,.dc-hamburger:hover{
    opacity:.7
}
.dc-hamburger.is-active .dc-hamburger__inner,.dc-hamburger.is-active .dc-hamburger__inner:after,.dc-hamburger.is-active .dc-hamburger__inner:before{
    background-color:#fff
}
.dc-hamburger__box{
    width:32px;
    height:24px;
    display:inline-block;
    position:relative
}
.dc-hamburger__inner{
    display:block;
    top:50%;
    margin-top:-2px
}
.dc-hamburger__inner,.dc-hamburger__inner:after,.dc-hamburger__inner:before{
    width:32px;
    height:4px;
    background-color:#fff;
    border-radius:4px;
    position:absolute;
    transition-property:transform;
    transition-duration:.15s;
    transition-timing-function:ease
}
.dc-hamburger__inner:after,.dc-hamburger__inner:before{
    content:"";
    display:block
}
.dc-hamburger__inner:before{
    top:-10px
}
.dc-hamburger__inner:after{
    bottom:-10px
}
.dc-hamburger_spin .dc-hamburger__inner{
    transition-duration:.22s;
    transition-timing-function:cubic-bezier(.55,.055,.675,.19)
}
.dc-hamburger_spin .dc-hamburger__inner:before{
    transition:top .1s ease-in .25s,opacity .1s ease-in
}
.dc-hamburger_spin .dc-hamburger__inner:after{
    transition:bottom .1s ease-in .25s,transform .22s cubic-bezier(.55,.055,.675,.19)
}
.dc-hamburger_spin.is-active .dc-hamburger__inner{
    transform:rotate(225deg);
    transition-delay:.12s;
    transition-timing-function:cubic-bezier(.215,.61,.355,1)
}
.dc-hamburger_spin.is-active .dc-hamburger__inner:before{
    top:0;
    opacity:0;
    transition:top .1s ease-out,opacity .1s ease-out .12s
}
.dc-hamburger_spin.is-active .dc-hamburger__inner:after{
    bottom:0;
    transform:rotate(-90deg);
    transition:bottom .1s ease-out,transform .22s cubic-bezier(.215,.61,.355,1) .12s
}
.dc-tooltip-trigger{
    background:#469ec3;
    border-radius:50%;
    color:#fff;
    display:inline-block;
    height:13px;
    line-height:1.3;
    text-align:center;
    width:13px;
    font-size:10px;
    font-size:.625rem;
    margin:.5rem
}
.dc-toggle{
    color:#4a90e2;
    font-size:14px;
    font-size:.875rem
}
.dc-toggle [class^=i-]{
    font-size:6px;
    font-size:.375rem;
    margin-left:.25rem
}
input,select,textarea{
    outline:none;
    border:none
}
label{
    cursor:default
}
select{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
fieldset{
    border:none;
    padding:0;
    margin:0
}
.dc-form__label{
    display:block;
    padding-bottom:6px;
    color:#575757;
    font-family:akrobat-light,Arial,sans-serif;
    font-size:16px;
    font-size:1rem
}
.dc-form__label_require{
    position:relative;
    left:0;
    top:4px;
    color:#ca242a;
    font-size:16px;
    font-size:1rem;
    vertical-align:super
}
.dc-text_error,.error{
    display:inline;
    color:#ca242a;
    line-height:2
}
.dc-text_error,.dc-text_helper,.error{
    font-size:15px;
    font-size:.9375rem;
    font-family:akrobat-light,Arial,sans-serif
}
.dc-text_helper{
    display:block;
    line-height:18px;
    line-height:1.125rem;
    margin-top:.5rem
}
.dc-form__control{
    display:block;
    padding:12px;
    color:#575757;
    font-size:18px;
    font-size:1.125rem;
    font-family:akrobat-regular,Arial,sans-serif;
    border-radius:5px;
    border:1px solid #979797;
    background-color:#fff
}
.dc-form__control::placeholder{
    color:#575757;
    font-family:akrobat-light,Arial,sans-serif;
    font-size:18px;
    font-size:1.125rem
}
.dc-form__control:-webkit-autofill,.dc-form__control:-webkit-autofill:focus,.dc-form__control:-webkit-autofill:hover{
    -webkit-text-fill-color:#575757
}
.dc-form__textarea{
    display:block;
    padding:12px;
    color:#575757;
    font-size:18px;
    font-size:1.125rem;
    font-family:akrobat-regular,Arial,sans-serif;
    border-radius:5px;
    border:1px solid #979797;
    background-color:#fff;
    width:100%
}
.dc-form__textarea::placeholder{
    color:#575757;
    font-family:akrobat-light,Arial,sans-serif;
    font-size:18px;
    font-size:1.125rem
}
.dc-form__textarea:-webkit-autofill,.dc-form__textarea:-webkit-autofill:focus,.dc-form__textarea:-webkit-autofill:hover{
    -webkit-text-fill-color:#575757
}
.dc-form__datecontrol{
    padding:12px;
    width:100%;
    color:#575757;
    font-family:akrobat-regular,Arial,sans-serif;
    font-size:16px;
    font-size:1rem;
    border-radius:5px;
    border:1px solid #adadad;
    background-color:#fff
}
.dc-form__datecontrol.vdp-datepicker input[type=text]{
    width:100%;
    cursor:pointer;
    font-family:akrobat-regular,Arial,sans-serif;
    color:#575757;
    background-color:transparent
}
.dc-form__icon-bg{
    position:relative;
    border-radius:5px;
    width:100%
}
.dc-form__icon-bg:before{
    position:absolute;
    min-height:32px;
    min-width:30px;
    text-align:center;
    bottom:1px;
    right:0;
    padding:8px;
    font-size:18px;
    font-size:1.125rem;
    line-height:1.7;
    color:#fff;
    pointer-events:none;
    border-radius:0 5px 5px 0;
    background-color:#469ec3;
    z-index:3
}
.dc-form__control_toggle{
    position:relative;
    border-radius:5px;
    background-color:#fff
}
.dc-form__control_toggle:before{
    position:absolute;
    top:50%;
    right:16px;
    z-index:2;
    display:block;
    -ms-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    -webkit-transform:translateY(-50%);
    transform:translateY(-50%);
    pointer-events:none
}
.dc-form__control_toggle.i-arrow-up-down:before,.dc-form__control_toggle:before{
    font-size:10px;
    font-size:.625rem
}
.dc-form__select-no-appearance{
    position:relative;
    z-index:1;
    display:block;
    width:100%;
    padding:12px;
    white-space:nowrap;
    color:#575757;
    font-size:16px;
    font-size:1rem;
    font-family:akrobat-regular,Arial,sans-serif;
    outline:none;
    border-radius:5px;
    border:1px solid #adadad;
    background-color:#fff;
    cursor:pointer;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none
}
.dc-form__select-no-appearance::-webkit-inner-spin-button,.dc-form__select-no-appearance::-webkit-outer-spin-button{
    margin:0;
    position:relative;
    right:0
}
.dc-form__item{
    padding-bottom:20px
}
.dc-form__item .dc-form__control{
    width:100%
}
.dc-form__inline-row{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center
}
.dc-form__inline-row .dc-form__radiobox:first-child{
    padding-right:20px
}
.dc-form__input-no-appearance{
    position:absolute;
    z-index:1;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    opacity:0;
    cursor:pointer
}
.dc-form__check,.dc-form__checkbox{
    position:relative
}
.dc-form__check{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    font-size:16px;
    font-size:1rem;
    font-family:akrobat-light,Arial,sans-serif
}
.dc-form__check:before{
    content:"";
    display:block;
    width:16px;
    height:16px;
    margin-right:10px;
    line-height:16px;
    text-align:center;
    color:#469ec3;
    font-size:10px;
    font-size:.625rem;
    border-radius:2px;
    border:2px solid #575757;
    background-color:#fff;
    pointer-events:none;
    transition:all .2s ease
}
.dc-form__check-label{
    color:#575757
}
.dc-form__check-label--small{
    font-size:14px;
    font-size:.875rem;
    line-height:18px;
    line-height:1.125rem
}
.dc-form__input-no-appearance:checked+.dc-form__check:before{
    content:"";
    line-height:16px;
    color:#fff;
    border-color:#469ec3;
    background-color:#469ec3
}
.dc-form__checkbox_block.dc-form__checkbox .dc-form__check{
    -webkit-box-align:start;
    -ms-flex-align:start;
    -webkit-align-items:flex-start;
    -moz-align-items:flex-start;
    align-items:flex-start
}
.dc-form__checkbox_block.dc-form__checkbox .dc-form__check:before{
    margin-top:4px
}
.dc-form__checkbox_block.dc-form__checkbox .dc-form__check-label{
    -webkit-flex-basis:100%;
    -moz-flex-basis:100%;
    -ms-flex-preferred-size:100%;
    flex-basis:100%;
    text-align:left
}
.dc-form__radiobox{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -moz-box-flex:1;
    -moz-flex:1;
    -ms-flex:1;
    flex:1;
    position:relative
}
.dc-form__radio{
    position:relative;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    font-size:16px;
    font-size:1rem;
    font-family:akrobat-regular,Arial,sans-serif
}
.dc-form__radio:before{
    margin-right:10px;
    line-height:16px;
    text-align:center;
    color:#469ec3;
    font-size:16px;
    font-size:1rem;
    border-radius:50%;
    border:2px solid #575757;
    background-color:#fff
}
.dc-form__radio:after,.dc-form__radio:before{
    content:"";
    display:block;
    width:16px;
    height:16px;
    pointer-events:none;
    transition:all .2s ease
}
.dc-form__radio:after{
    position:absolute;
    top:4px;
    left:4px;
    margin-top:0;
    border-radius:50%;
    background-color:#059f77;
    opacity:0;
    transform:scale(1.5)
}
.dc-form__radio-label{
    color:#575757;
    line-height:1
}
.dc-form__input-no-appearance:checked+.dc-form__radio:after{
    width:12px;
    height:12px;
    opacity:1;
    transform:scale(1)
}
.dc-form__foot{
    text-align:center;
    padding:10px 0 20px
}
.dc-form__foot .dc-btn{
    margin:0 auto
}
.dc-form__lead{
    text-align:left;
    padding-bottom:1.5rem;
    margin-top:1.5rem
}
.dc-form__lead:before{
    content:" ";
    border-top:1px solid #e0e0e0;
    display:block;
    padding-top:30px
}
.dc-form__lead .dc-link{
    padding-top:20px
}
.dc-form__lead-text{
    font-size:14px;
    font-size:.875rem
}
.dc-form__center{
    text-align:center;
    padding-bottom:30px
}
.dc-text_block{
    display:block
}
.dc-form__item-high{
    padding-bottom:40px
}
.dc-form__foot-high{
    padding:40px 0 60px
}
.dc-form__center{
    padding:30px 0
}
.dc-form__error,.dc-form__success,.dc-form__warning{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    background-color:hsla(0,0%,66.7%,.05);
    border:1px solid #d8d8d8;
    padding:20px 30px;
    margin:10px 10px 0
}
.dc-form__error:before{
    font-size:24px;
    font-size:1.5rem;
    color:#de424a;
    margin-right:40px
}
.dc-form__error-item{
    color:#de424a;
    text-align:left
}
.dc-form__success:before{
    font-size:24px;
    font-size:1.5rem;
    color:#059f77;
    margin-right:40px
}
.dc-form__success-item{
    color:#059f77;
    text-align:left
}
.dc-form__warning:before{
    font-size:24px;
    font-size:1.5rem;
    color:#fbb14b;
    margin-right:40px
}
.dc-form__warning-item{
    color:#575757;
    text-align:left
}
.dc-form_list{
    list-style:none
}
.dc-form__label-tooltip{
    position:relative
}
.dc-form__alert,.dc-form__label-tooltip{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:start;
    -ms-flex-align:start;
    -webkit-align-items:flex-start;
    -moz-align-items:flex-start;
    align-items:flex-start
}
.dc-form__alert{
    padding:1rem;
    margin:.5rem;
    border:1px solid #e0e0e0
}
.dc-form__alert-icon{
    margin-right:1rem
}
.dc-form__alert-text{
    font-size:12px;
    font-size:.75rem;
    line-height:20px;
    line-height:1.25rem
}
.dc-form__footnote{
    font-size:14px;
    font-size:.875rem;
    line-height:20px;
    line-height:1.25rem
}
.dc-form__modifier{
    margin-top:1.5rem
}
.ag-o-iframe{
    border:none
}
.dc-is-warning{
    color:#ca242a
}
.dc-is-alert{
    border-color:#ca242a
}
.dc-is-disabled{
    pointer-events:none;
    background:#d8d8d8
}
.dc-is-hidden{
    display:none
}
.dc-u-center{
    text-align:center
}
.dc-header{
    top:0;
    z-index:9
}
.dc-header,.dc-lang{
    position:relative
}
.dc-lang__menu{
    position:absolute;
    top:0;
    left:0;
    right:0
}
.ag-l-footer{
    background-color:#fff
}
.dc-header{
    background:#469ec3
}
.dc-header .dc-l-canvas{
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row
}
.dc-header_guest .dc-header__user,.dc-header_logged .dc-lang{
    display:none
}
.dc-header_logged .dc-header__menu{
    padding-right:0
}
.dc-brand__link{
    display:block;
    max-width:92px;
    max-width:5.75rem
}
@media only screen and (min-width:768px){
    .dc-brand__link{
        max-width:200px;
        max-width:12.5rem
    }
}
.dc-brand__img{
    width:100%
}
.dc-header__options{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    height:50px
}
@media only screen and (min-width:768px){
    .dc-header__options{
        height:114px
    }
}
.dc-lang{
    margin-right:1rem
}
@media only screen and (min-width:768px){
    .dc-lang{
        order:2
    }
}
.dc-lang__btn{
    padding:.25rem .5rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    font-family:akrobat-regular;
    font-weight:700;
    text-transform:uppercase
}
.dc-lang__btn [class^=i-]{
    font-size:5px;
    font-size:.3125rem;
    margin-left:.25rem
}
.dc-lang__menu{
    background:#fff;
    border-radius:8px;
    display:none
}
.dc-lang__menu-list{
    list-style:none;
    padding:.25rem .5rem
}
.dc-lang__link{
    color:#575757;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center
}
.dc-lang__link--selected{
    color:#469ec3;
    font-weight:700
}
.dc-lang__link [class^=i-]{
    font-size:5px;
    font-size:.3125rem;
    margin-left:.25rem
}
.dc-lang__link:hover{
    font-weight:700
}
.dc-hamburger{
    margin-top:.5rem
}
@media only screen and (min-width:768px){
    .dc-hamburger{
        display:none
    }
}
.dc-header__menu{
    background:#fff;
    display:none;
    height:calc(100vh - 60px);
    left:0;
    margin:auto;
    position:absolute;
    right:0;
    top:60px;
    padding:.5rem
}
@media only screen and (min-width:768px){
    .dc-header__menu{
        background:transparent;
        height:auto;
        order:1;
        position:inherit;
        display:-webkit-box;
        display:-webkit-flex;
        display:-moz-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:justify;
        -ms-flex-pack:justify;
        -webkit-justify-content:space-between;
        -moz-justify-content:space-between;
        justify-content:space-between;
        -webkit-box-direction:normal;
        -webkit-box-orient:horizontal;
        -webkit-flex-direction:row;
        -moz-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row;
        padding:1rem 5rem 1rem .5rem
    }
}
.dc-header__user{
    border-bottom:1px solid #979797;
    padding:2rem .25rem
}
@media only screen and (min-width:768px){
    .dc-header__user{
        border-bottom:0;
        border-left:1px solid #fff;
        order:2;
        padding:0 0 0 1rem;
        margin:.5rem 0 .5rem 1.5rem;
        text-align:right
    }
}
.dc-header__username{
    color:#575757;
    font-weight:700;
    font-size:25px;
    font-size:1.5625rem;
    line-height:28px;
    line-height:1.75rem
}
@media only screen and (min-width:768px){
    .dc-header__username{
        color:#fff;
        font-size:14px;
        font-size:.875rem;
        line-height:18px;
        line-height:1.125rem;
        margin-bottom:.5rem
    }
}
.dc-header__logout{
    color:#4a90e2
}
@media only screen and (min-width:768px){
    .dc-header__logout{
        color:#fff
    }
}
.dc-header__logout{
    font-size:14px;
    font-size:.875rem;
    line-height:18px;
    line-height:1.125rem;
    text-decoration:underline
}
@media only screen and (min-width:768px){
    .dc-menu{
        order:1
    }
}
.dc-menu__list{
    list-style:none;
    margin:0 auto;
    max-width:65%;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
@media only screen and (min-width:768px){
    .dc-menu__list{
        -webkit-box-direction:normal;
        -webkit-box-orient:horizontal;
        -webkit-flex-direction:row;
        -moz-flex-direction:row;
        -ms-flex-direction:row;
        flex-direction:row;
        max-width:inherit
    }
}
.dc-menu__item{
    padding:.25rem;
    margin:1.5rem .5rem
}
.dc-menu__item--active .dc-menu__link,.dc-menu__item:hover .dc-menu__link{
    border-bottom:5px solid #469ec3
}
@media only screen and (min-width:768px){
    .dc-menu__item--active .dc-menu__link,.dc-menu__item:hover .dc-menu__link{
        position:relative;
        margin:0
    }
    .dc-menu__item--active .dc-menu__link:after,.dc-menu__item:hover .dc-menu__link:after{
        background:#fff;
        bottom:-48px;
        content:"";
        height:5px;
        left:0;
        position:absolute;
        width:100%
    }
}
.dc-menu__link{
    color:#575757;
    font-weight:700;
    font-size:20px;
    font-size:1.25rem;
    line-height:24px;
    line-height:1.5rem
}
@media only screen and (min-width:768px){
    .dc-menu__link{
        color:#fff
    }
}
.dc-footer{
    background:#469ec3;
    color:#fff;
    padding:2.5rem 0
}
.dc-footer__text{
    font-size:18px;
    font-size:1.125rem;
    margin-bottom:1rem
}
.dc-card,.dc-minicard{
    -webkit-align-self:flex-start;
    -moz-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start;
    width:100%;
    background-color:#fff;
    border-radius:5px;
    box-shadow:2px -2px 15px 0 hsla(0,0%,67.8%,.24);
    overflow:hidden
}
@media only screen and (min-width:768px){
    .dc-card--small{
        max-width:373px
    }
}
.dc-card__inner{
    padding:1.5rem 1rem
}
@media only screen and (min-width:768px){
    .dc-card__inner{
        padding:1.5rem 2rem
    }
}
.dc-card__inner--tight{
    padding:1.5rem 1rem
}
.dc-card_border-box{
    margin:20px 0
}
.dc-card_border-bottom{
    border-bottom:1px solid #c7c7c7;
    padding-bottom:1rem;
    margin-bottom:1rem
}
.dc-card_border-bottom .dc-text{
    font-size:20px;
    font-size:1.25rem;
    line-height:24px;
    line-height:1.5rem;
    font-family:akrobat-light,Arial,sans-serif
}
.dc-card_border-top{
    border-top:1px solid #979797;
    padding-top:1rem;
    margin-top:1rem
}
.dc-card_form{
    margin:auto
}
@media only screen and (min-width:768px){
    .dc-card_form{
        max-width:553px
    }
}
.dc-card_form .dc-text{
    font-size:20px;
    font-size:1.25rem;
    line-height:24px;
    line-height:1.5rem;
    color:#575757;
    font-family:akrobat-light,Arial,sans-serif
}
.dc-card_form--440{
    width:100%
}
@media only screen and (min-width:1024px){
    .dc-card_form--440{
        margin-left:.5rem;
        margin-right:.5rem;
        max-width:440px
    }
}
.dc-card__head{
    margin-bottom:1.5rem
}
.dc-card__head .dc-text{
    font-size:20px;
    font-size:1.25rem;
    line-height:24px;
    line-height:1.5rem
}
.dc-card-head-flex{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    padding-bottom:1rem
}
.dc-card-head-flex+.dc-card_border-bottom{
    border-top:1px solid #c7c7c7;
    padding-top:1rem
}
.dc-card__footer{
    padding:1rem .5rem;
    text-align:center
}
.dc-card__footer .dc-text{
    color:#fff;
    font-family:akrobat-bold,Arial,sans-serif;
    font-size:20px;
    font-size:1.25rem
}
.dc-card__footer--secondary{
    background:#059f77
}
.dc-card__header{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    padding:1rem .5rem;
    min-height:80px;
    text-align:center
}
.dc-card__header .dc-subheadline{
    margin-bottom:0;
    line-height:1.2
}
@media only screen and (min-width:768px){
    .dc-card__header .dc-subheadline{
        max-width:70%;
        margin:0 auto
    }
}
.dc-card__header--secondary{
    background:#059f77
}
.dc-card__header--tertiary{
    background:#702f6d
}
.dc-card__header--alert{
    background:#ca242a
}
.dc-card__image{
    margin-bottom:1.5rem
}
.dc-card__image .dc-card__img{
    width:100%
}
.dc-card-optionsbtn{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient:horizontal;
    -webkit-flex-direction:row;
    -moz-flex-direction:row;
    -ms-flex-direction:row;
    flex-direction:row;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    padding-bottom:1.5rem
}
.dc-card-optionsbtn .dc-btn{
    min-width:45%
}
.dc-card-onebtn{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
    padding:1.5rem 0
}
.dc-card-onebtn .dc-btn{
    width:50%;
    max-width:250px
}
.dc-card--labeled{
    overflow:inherit;
    position:relative;
    width:100%
}
@media only screen and (min-width:1024px){
    .dc-card--labeled{
        margin-left:.5rem;
        margin-right:.5rem;
        max-width:470px
    }
}
.dc-card__labels{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    padding:0 .5rem;
    position:absolute;
    top:-30px
}
.dc-card-deactive .dc-card__inner,.dc-card-deactive .dc-card__inner--tight{
    opacity:.5
}
.dc-card-deactive .dc-list__link{
    pointer-events:none
}
.dc-card-deactive .dc-btn{
    background:#d8d8d8;
    border-color:#d8d8d8;
    pointer-events:none
}
@media only screen and (min-width:1024px){
    .dc-card--large{
        margin:auto;
        max-width:820px
    }
}
@media only screen and (min-width:768px){
    .dc-card--large .dc-list-grid__title{
        flex:1 22%
    }
    .dc-card--large .dc-list-grid__definition{
        flex:2 78%
    }
}
.dc-date{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center
}
.dc-date__number{
    color:#059f77;
    font-weight:500;
    font-size:45px;
    font-size:2.8125rem;
    line-height:45px;
    line-height:2.8125rem;
    padding-right:.5rem
}
.dc-date__days{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-direction:normal;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column
}
.dc-date__weekday{
    font-weight:500;
    font-size:25px;
    font-size:1.5625rem;
    line-height:25px;
    line-height:1.5625rem
}
.dc-date__month{
    font-weight:500;
    font-size:16px;
    font-size:1rem;
    line-height:16px;
    line-height:1rem
}
.dc-hour__numbers{
    font-weight:500;
    font-size:40px;
    font-size:2.5rem;
    line-height:1
}
.dc-hour__meridiem{
    font-weight:500;
    font-size:14px;
    font-size:.875rem
}
.dc-minicard{
    cursor:pointer;
    max-width:47%;
    min-width:47%;
    overflow:inherit;
    position:relative;
    flex:1 0 21%;
    width:auto;
    margin:1rem .5rem
}
@media only screen and (min-width:480px){
    .dc-minicard{
        min-width:200px;
        max-width:200px
    }
}
@media only screen and (min-width:1180px){
    .dc-minicard{
        margin:1rem;
        max-width:240px;
        min-width:240px
    }
}
.dc-minicard .dc-label{
    position:absolute;
    left:0;
    right:0;
    top:-20px
}
@media only screen and (min-width:768px){
    .dc-minicard .dc-label{
        transform:translateX(-24px)
    }
}
.dc-minicard__inner{
    padding:1.5rem
}
.dc-minicard--selected{
    background:#059f77
}
.dc-minicard--selected .dc-date__days,.dc-minicard--selected .dc-date__number{
    color:#fff
}
.dc-minicard-wrapper{
    max-width:850px;
    max-width:53.125rem;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    margin-left:auto;
    margin-right:auto
}
.dc-minicard-wrapper .dc-minicard:nth-child(1n){
    margin-left:0
}
@media only screen and (min-width:768px){
    .dc-minicard-wrapper .dc-minicard:nth-child(1n){
        margin-left:1rem
    }
}
.dc-minicard-wrapper .dc-minicard:nth-child(2n){
    margin-right:0
}
@media only screen and (min-width:768px){
    .dc-minicard-wrapper .dc-minicard:nth-child(2n){
        margin-right:1rem
    }
}
.dc-label{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center
}
.dc-label--small{
    border-top-left-radius:8px;
    border-top-right-radius:8px;
    color:#fff;
    font-size:14px;
    font-size:.875rem;
    height:30px;
    height:1.875rem;
    margin:0 .5rem;
    min-width:130px
}
.dc-label--small.dc-label--secondary{
    background:#059f77
}
.dc-label--small.dc-label--tertiary{
    background:#702f6d
}
.dc-label--small.dc-label--dark-red{
    background:#de424a
}
.dc-label--small.dc-label--grey{
    background:#575757
}
.dc-label__number{
    font-size:26px;
    font-size:1.625rem;
    border-radius:50%;
    height:42px;
    width:42px
}
.dc-label__number,.dc-label__text{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
    background:#575757;
    color:#fff
}
.dc-label__text{
    font-size:16px;
    font-size:1rem;
    margin-left:-2.5%;
    margin-right:-2.5%;
    padding:0 4%;
    border-radius:4px
}
.dc-label--secondary .dc-label__number,.dc-label--secondary .dc-label__text{
    background:#059f77
}
.dc-label--tertiary .dc-label__number,.dc-label--tertiary .dc-label__text{
    background:#702f6d
}
.ag-c-quote{
    max-width:640px;
    max-width:40rem;
    font-weight:"akrobat-regular",Arial,sans-serif
}
.ag-c-quote__body{
    margin-bottom:1.5rem;
    color:#575757;
    font-size:24px;
    font-size:1.5rem;
    font-style:italic
}
.ag-c-quote__foot{
    margin-top:1.5rem
}
.ag-c-quote__foot:before{
    content:"";
    display:block;
    width:100%;
    max-width:240px;
    max-width:15rem;
    margin-bottom:1.5rem;
    border-top:1px solid #469ec3
}
.ag-c-quote__cite{
    font-size:16px;
    font-size:1rem;
    font-weight:"akrobat-bold",Arial,sans-serif;
    font-style:normal
}
.ag-c-quote__note{
    font-size:14px;
    font-size:.875rem
}
.ag-c-table{
    width:100%;
    border-top:2px solid #469ec3
}
.ag-c-table,.ag-c-table__head{
    border-bottom:2px solid #469ec3
}
.ag-c-table__body .ag-c-table__row:not(:last-child){
    border-bottom:1px solid #575757
}
.ag-c-table__column{
    padding:16px;
    vertical-align:middle;
    text-align:center
}
.ag-c-table__column.htLeft{
    text-align:left
}
.ag-c-table__column.htRight{
    text-align:right
}
.ag-c-table__column.htJustify{
    text-align:justify
}
.ag-c-table__column.htTop{
    vertical-align:top
}
.ag-c-table__column.htBottom{
    vertical-align:bottom
}
.ag-c-table__caption{
    padding:8px 16px;
    text-align:left;
    font-size:14px;
    font-size:.875rem
}
.dc-hero{
    height:208px;
    overflow:hidden
}
.dc-hero__image{
    height:auto;
    width:100%
}
.dc-hero__image--desktop{
    display:none
}
@media only screen and (min-width:768px){
    .dc-hero__image--desktop{
        display:block
    }
}
@media only screen and (min-width:768px){
    .dc-hero__image--mobile{
        display:none
    }
}
.dc-tabs{
    border-bottom:2px solid #469ec3;
    flex:1;
    list-style:none;
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:start;
    -ms-flex-pack:start;
    -webkit-justify-content:flex-start;
    -moz-justify-content:flex-start;
    justify-content:flex-start;
}
@media only screen and (min-width:768px){
    .dc-tabs{
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        -webkit-justify-content:flex-start;
        -moz-justify-content:flex-start;
        justify-content:flex-start;
    }
}
.dc-tabs__item{
/*    font-size:25px;*/
    font-size:1.4625rem;
    line-height:31px;
    line-height:1.9375rem;
    padding:.625rem .9375rem;
    margin:0 .5625rem;
/*    font-weight:700;*/
    background-color:rgba(255, 255, 255, 0.5); 
}
.dc-tabs__item--active{
    border-bottom:5px solid #469ec3;
}
@media only screen and (min-width:768px){
    .dc-tabs__item{
        padding:.625rem .9375rem;
    }
}
@media only screen and (min-width:768px){
    .dc-tabs__item:first-of-type{
        margin-left:0;
    }
}
.dc-tabs__link{
    color:#575757;
}
.dc-tabs__content{
    padding:2.5rem 0;
}
.dc-backdrop{
    background:#fff;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100vh;
    z-index:9;
    display:none
}
@media only screen and (min-width:768px){
    .dc-backdrop{
        background:rgba(87,87,87,.8)
    }
}
.dc-backdrop--active{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items:center;
    -moz-align-items:center;
    align-items:center;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
}
.dc-modal{
    background:#fff;
    border-radius:8px;
    padding:3.5rem 2rem;
    font-size:25px;
    font-size:1.5625rem;
    line-height:30px;
    line-height:1.875rem;
    font-family:akrobat-bold,Arial,sans-serif;
    position:relative;
    text-align:center;
    width:90%
}
@media only screen and (min-width:768px){
    .dc-modal{
        max-width:550px;
        max-width:34.375rem
    }
}
@media only screen and (min-width:768px){
    .dc-modal--large{
        max-width:704px;
        max-width:44rem
    }
}
.dc-modal__close{
    position:absolute;
    font-size:0;
    right:20px;
    top:20px
}
.dc-modal__close-icon{
    color:#de424a
}
.dc-modal__close-icon:before{
    font-size:22px;
    font-size:1.375rem
}
.dc-modal__icon{
    font-size:60px;
    font-size:3.75rem
}
.dc-modal__headline{
    margin:2rem 0
}
.dc-modal__foot{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    -webkit-justify-content:center;
    -moz-justify-content:center;
    justify-content:center;
    margin:2rem 0 0
}
.dc-modal__foot .dc-btn{
    margin:0 2rem
}
.dc-stepper{
    display:-webkit-box;
    display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-align:stretch;
    -ms-flex-align:stretch;
    -webkit-align-items:stretch;
    -moz-align-items:stretch;
    align-items:stretch;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    -webkit-justify-content:space-between;
    -moz-justify-content:space-between;
    justify-content:space-between;
    list-style:none;
    counter-reset:section;
    padding-bottom:40px
}
.dc-stepper__node{
    position:relative;
    -webkit-box-flex:1;
    -webkit-flex:1;
    -moz-box-flex:1;
    -moz-flex:1;
    -ms-flex:1;
    flex:1;
    text-align:center;
    padding:0 4px
}
.dc-stepper__node:before{
    content:counter(section);
    counter-increment:section;
    display:block;
    margin:0 auto 20px;
    width:40px;
    height:40px;
    font-size:30px;
    font-size:1.875rem;
    font-family:akrobat-bold,Arial,sans-serif;
    color:#469ec3;
    line-height:1.2;
    z-index:4;
    background-color:#fff;
    border-radius:50%;
    border:3px solid #469ec3
}
.dc-stepper__node:not(:first-child):after{
    content:"";
    position:absolute;
    display:block;
    right:50%;
    top:calc(50% - 38px);
    width:100%;
    height:1px;
    z-index:-2;
    background-color:#469ec3
}
@media only screen and (min-width:768px){
    .dc-stepper__node:not(:first-child):after{
        top:calc(50% - 33px)
    }
}
.dc-stepper__txt{
    width:100%;
    font-size:18px;
    font-size:1.125rem;
    line-height:24px;
    line-height:1.5rem;
    color:#979797;
    font-family:akrobat-light,Arial,sans-serif;
    text-align:center
}
.dc-stepper_active.dc-stepper__node:before{
    color:#fff;
    background-color:#469ec3;
    -webkit-box-shadow:0 0 0 14px rgba(70,158,195,.15);
    -moz-box-shadow:0 0 0 14px rgba(70,158,195,.15);
    box-shadow:0 0 0 14px rgba(70,158,195,.15)
}
.dc-stepper_active .dc-stepper__txt{
    font-family:akrobat-bold,Arial,sans-serif
}
.dc-stepper_check.dc-stepper__node:before{
    content:"";
    font-family:dec-rss-icons!important;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size:16px;
    font-size:1rem;
    line-height:2.4;
    color:#fff;
    background-color:#059f77;
    border:3px solid #059f77
}
@media (min-width:540px){
    .dc-stepper__node:before{
        width:60px;
        height:60px;
        font-size:36px;
        font-size:2.25rem;
        line-height:1.6
    }
    .dc-stepper__node:not(:first-child):after{
        top:calc(50% - 18px)
    }
    .dc-stepper_check.dc-stepper__node:before{
        font-size:20px;
        font-size:1.25rem;
        line-height:2.8
    }
}